/*----General-----*/
html,body {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: "Amazon Ember",Arial,sans-serif;
    background-color: #009879;
    }
/*----End-General-----*/

body img{
  height: 50px;
  width: 80px;
  margin: 25px;
}

.container
  {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height:80%;
    margin-top: 110px;
  }

  .container-game {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color:rgba(24, 12, 129, 0.027);
    width: 70%;
    height:80%
  }

.title-head img
{
  position: relative;
  width: 70%;
  height: 85%;
  margin: 40px 100px;
}

.game
{
border-left:3px solid rgb(0, 0, 0);
border-top:3px solid rgb(0, 0, 0);
border-bottom:3px solid rgb(0, 0, 0);
background-color: #fff;
width: 80%;
height: 100%;
border-radius: 5px 0px 0px 5px;
}

.game-frame
{
display:flex;
align-items: center;
flex-direction: column;
}

.navbar
{
border-radius: 0px 5px 5px 0px;
border:3px solid rgb(0, 0, 0);
background-color: #000000;
width: 27%;
height: 100%;
}

/*Botones*/

.nav-link {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border: none;
  border-radius: 1px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 29px;
  width: 100%;
  outline: 0;
  overflow: hidden;
  margin: 1px 0px;
  padding: 29px 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.nav-link:active {
  border-bottom-color: #a2a6ac;
}

.nav-link:active:hover {
  border-bottom-color: #a2a6ac;
}

.nav-link:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.nav-link:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}
/*Botones-end*/



/*Tabla*/

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: lightslategray;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/*Tabla-end*/