@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

/*----General-----*/

body{
  background-color: #009879;
  font-size: 12px;
  overflow: hidden;
}
  
/*----End-General-----*/

.container
  {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: fixed;
  left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-51.5%);
  }

.container-game{
  width: 850px;
  height: 650px;
  background: #fff;
  display: flex;
  border-radius: 3px;
  bottom: 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
  }

.navbar
{
  width: 200px;
  height: 100%;
  background-color: #1D1B1B;
  padding: 40px 22px;
  text-align: center;
  border-radius: 3px 0px 0px 3px;
  display: block;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
}

/*Side bar*/

.nav-link {
  color: #fff;
  height: 70px;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: none;
  background-color: #1D1B1B;
  display: block;
}

.nav-link:hover {
  color: #009879;
}

/*Side bar-end*/

.game{
align-items: center;
flex-direction: column;
position: relative;
top: 45px;
}

.game .ventanas{
  position: relative;
  left: 33%;
}

.game h1{
  margin-bottom: 15px;
  position: relative;
  left: 45px;
}

label{
  font-weight: bold;
  font-size: 14px;
}

.game .btn{
  margin: 15px 0;
  position: relative;
  left: 32px;
}

/*scroll bar */

.game-frame{
width: 650px;
height: calc(100% - 100px);
overflow: auto;
overflow-x: hidden;
}

/* fin scroll bar */

/*botones*/

.btn{
  background-color: rgb(10, 10, 10); 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.btn-pop{
  background-color: rgb(10, 10, 10); 
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
}

.content-table .editar-btn{
  background-color: rgb(247, 225, 129); 
  border: 1px solid;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}

.content-table .delete-btn{
  background-color: rgb(175, 50, 77); 
  border: 1px solid;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}

.content-table .sell-btn{
  background-color: rgb(121, 196, 92); 
  border: 1px solid;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}

/*botones-end*/

/*Tabla*/

.tabla-contenedor{
  position: relative;
  left: 22%;
}

.tabla-contenedor2{
  position: relative;
  left: 7%;
}

.tabla-contenedor3{
  position: relative;
  left: 14%;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 30px;
  font-size: 0.9em;
  min-width: 300px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: rgb(18, 18, 19);
  color: #ffffff;
  text-align: center;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(18, 18, 19);
}

/*Tabla-end*/

/*Pop-up*/

.pop-up{
  width: 330px;
  height: 330px;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  overflow-x: none;
  text-align: center;

  position: relative;
  left: 45%;
  top: 34%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.pop-up input{
  width: 110px;
}

.pop-up-alert{
  width: 330px;
  height: 155px;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  overflow-x: none;
  justify-content: center;
  text-align: center;
  padding: 30px;

  position: relative;
  left: 45%;
  top: 43%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.pop-up h2{
  margin-top: 10px;
  margin-bottom: 15px;
}

.x-btn{
  position: relative;
  left: 140px;
  border: none;
  font-weight: bold;
  font-size: 25px;
  color: #0a0a0a;
  background-color: #fff;
}

/*Pop-up-end*/

 /*Imagenes*/

 .logo img{
  position: relative;
  left: 35px;
  top: 25px;
  width: 70px;
  height: 50px;

  }

  header{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 125px;
    top: -22px;
    color: #fff;
    transition: 0.3s ease;
    cursor: pointer;
    width: 20px;
  }

  header:hover {
    color: #fff786;
  }

  .dinero img{
    position: relative;
    left: 1550px;
    top: 550px;
    width: 290px;
    height: 360px;
    transform: rotate(-14.5deg);
    transition: 300ms;
  }

  .dinero img:hover{  
    transform: scale(1.15);
  }

  .ganador img{
    position: relative;
    left: 70px;
    top: 150px;
    width: 440px;
    height: 360px;
  }

  .dos-tarjetas img{
    position: relative;
    left: 110px;
    bottom: 650px;
    width: 320px;
    height: 360px;
    transform: rotate(-20deg);
    transition: 400ms;
  }

  .dos-tarjetas img:hover{  
    transform: scale(1.10);
  }

  .tarjetas img{
    position: relative;
    left: 1370px;
    bottom: 970px;
    width: 330px;
    height: 360px;
    transform: rotate(25deg);
  }

  .icono{
    width: 480px;
    height: 485px;
    position: relative;
    top: 40px;
    left: 80px;
    transition: 400ms;
  }

  .icono:hover{  
    transform: scale(1.1);
  }

  /*Imagenes-final*/

  input:focus{
    border: 1px solid #1D1B1B;
  }
